body#client {
	background-color: black;
	background-image: none !important;
	color: white;
}

#client-topbar {	
	background: url(../images/popup/popup_topbar_slice.gif) repeat-x; 
	width: 720px;
	height: 29px;
	font-size: 9px;
	margin: 0 auto;
}

#client-topbar .logo {	
	float: left; 
	width: 230px; 
	height: 19px;
	text-align: left;
}

#client-topbar .logo img {	
	padding: 5px 0 5px 8px;
}

#client-topbar .habbocount {	
	width: 260px; 
	height: 19px; 
	text-align: center; 
	float: left;
	background: url(../images/popup/popup_habbocount_bg.gif) no-repeat; 
	margin-top: 6px; 
	padding-top: 3px;
	overflow: hidden;
}

#client-topbar .logout {	
	width: 230px; 
	float: left;
	text-align: right;
	line-height: 19px;
	padding-top: 3px;
}

#client-topbar .logout a {	
	color: #fff;
	vertical-align: middle;
	padding: 2px 16px 0 0;
	text-transform: uppercase;
}

#clientembed-container {
	text-align: center;
}

#habboeditor-container {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 430px;
}
#clientembed {
	margin: 0 auto;
	width: 720px;
	height: 540px;
	background-color: black;
	color: white;
	text-align: center;
}